@import url('var.css');
@import url('transforms.css');

/* ============================= estilos body */

body{
    background: var(--light-color);
}

/* ============================= estilos header */

/* estilos logo */

.navbar-brand{
    position: absolute;
    top: 30px;
    z-index: 12;
    padding: 0px;
    height: 40px;
    left: 40px;
}

/* estilos icon-menu */

.navbar-toggle{
    position: fixed;
    top: 22px;
    right: 40px;
    height: 34px;
    width: 34px;
    z-index: 13;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background: white;
}

.navbar-toggle .icon{
    width: 12px;
    height: 2px;
    background: var(--font-main-color);
    border-bottom: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, .5); */
    transition: all .5s ease-in-out;
    transform: translateX(-4px);
}

.navbar-toggle .icon::before,
.navbar-toggle .icon::after{
    content: '';
    position: absolute;
    height: 2px;
    background: var(--font-main-color);
    border-bottom: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, .5); */
    transition: all .5s ease-in-out;
}

.navbar-toggle .icon::before{
    width: 20px;
    transform: translateY(-4px);
}

.navbar-toggle .icon::after{
    width: 16px;
    transform: translateY(4px);
}

/* ANIMATION */

.navbar-toggle.open .icon{
    transform: translateX(12px);
    background: transparent;
    box-shadow: none;
}

.navbar-toggle.open .icon::before{
    transform: rotate(45deg) translate(-11px , 11px);
}

.navbar-toggle.open .icon::after{
    width: 20px;
    transform: rotate(-45deg) translate(-11px , -11px);
}

/* ================================================ estilos menu */

.overlay-menu{
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    transition: all 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}

.borders>*{
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    position: fixed;
    z-index: 100;
    background: white;
    height: 12px;
    width: 28px;
    pointer-events: none
}

.borders .top{
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: top center;
    transform: translate(0, -100%) scale(1);

}

.borders .right{
    top: 0;
    right: 0;
    height: 100%;
    transform-origin: right center;
    transform: translate(100%, 0) scale(1);
}

.borders .bottom{
    bottom: 0;
    right: 0;
    width: 100%;
    transform-origin: bottom center;
    transform: translate(0, 100%) scale(1);
}

.borders .left{
    top: 0;
    left: 0;
    height: 100%;
    transform-origin: left center;
    transform: translate(-100%, 0) scale(1);
}

.nav-menu{
    /* width: 290px; */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 50px 40px;
    transform: translateX();
    transition: all 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}

.nav-menu .social-networks .sn-item{
    color: var(--font-main-color);
    font-size: 1em;
    margin-right: .5em;
}

.nav-menu .menu ul{
    list-style: none;
    padding: 0;
}

.nav-menu .menu ul li{
    margin: 1em 0;
}

.nav-menu .menu .menu-item{
    color: var(--font-main-color);
    font-family: var(--secondary-font);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2em;
}

.nav-menu .contact{
    font-family: var(--secondary-font);
}

.nav-menu .contact .answer{
    font-size: .7em;
    font-weight: 300;
    font-family: var(--main-font);
    margin-bottom: -18px;
    font-style: italic;
}

.nav-menu .contact h2{
    font-size: 1.6em;
    font-weight: 900;
    font-family: var(--main-font);
    letter-spacing: -1px;
}

.nav-menu .contact .number{
    font-weight: 400;
    margin-bottom: -10px;
}

.nav-menu .contact .mail{
    font-weight: 400;
}

/* ================================================= estilos app */

.app{
    display: grid;
    grid-template-columns: repeat(100,1vw);
    grid-template-rows: repeat(100,1vh);
    overflow: hidden;
}

/* estilos iniciales app */

.bg-app{
    grid-column-start: 1;
    width: 50vw;
    grid-row-start: 1;
    grid-row-end: 101;
    background: var(--main-color);
    transition: all 1000ms cubic-bezier(1, 0, 0, 1) 0ms;
}

.title-app{
    grid-column-start: 15;
    grid-column-end: 85;
    grid-row-start: 15;
    grid-row-end: 85;
    color: var(--font-main-color);
    font-family: var(--main-font);
    font-size: 5em;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1000ms cubic-bezier(1, 0, 0, 1) 0ms;
}

.title-app .part-1{
    margin-left: 16%;
    margin-bottom: -.3em;
}

.title-app .part-2{
    margin-left: 29%;
}

.title-app .part-2 .dot{
    color: var(--main-color);
}

.scroll{
    grid-column-start: 40;
    grid-column-end: 50;
    grid-row-start: 70;
    grid-row-end: 85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
    transition: all 800ms ease;
}

.scroll .letters{
    transform: rotate(-90deg);
    font-family: var(--main-font);
    font-size: .8em;
    font-weight: 300;
}

.scroll .icon{
    animation: up-down 1.5s ease infinite;
}

/* animation */

@keyframes up-down {
    0% {transform: translateY(20px);}
    25% {transform: translateY(0);}
    100% {transform: translateY(20px);}
}

/* =========================================== sobre mi */

.about-me{
    grid-column-start: 10;
    grid-column-end: 75;
    grid-row-start: 10;
    grid-row-end: 95;
    font-size: .9em;
    font-family: var(--main-font);
    color: var(--font-main-color);
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    transition: all 500ms ease;
}

.about-me span{
    color: var(--light-color);
    font-weight: 400;
}

/* ==================================================== habilidades */

.skills{
    grid-column-start: 10;
    grid-column-end: 90;
    grid-row-start: 10;
    grid-row-end: 75;
    display: flex;
    flex-direction: column;
    
}

.skills .title-skills{
    font-size: 1.2em;
    font-weight: 900;
    font-family: var(--main-font);
    margin-bottom: 1.5em;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
}

.skill{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;
    transition: all .5s ease;
    transform: translateY(-10%);
    opacity: 0;
}

.skill .logo{
    height: 90%;
    width: 15%;
}

.skill .logo .svg-logo{
    height: 100%;
    width: 100%;
}

.skill .content{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skill .content .description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5em ;
    height: 50%;
}

.skill .content .description .name{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: .9em;
    color: var(--font-main-color);
}

.skill .content .description .porcentage{
    font-family: var(--main-font);
    font-weight: 600;
    color: var(--main-color);
}

.skill .content .content-bar{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill .content .content-bar .bar{
    width: 92%;
    height: .5rem;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgb(7 33 66 / 15%);
}

.skill .content .content-bar .bar::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to right, #072142, #8c2b7a 50%, #ff4d5a);
}

.p-50::after{
    width: 50%;
}
.p-60::after{
    width: 60%;
}
.p-70::after{
    width: 70%;
}
.p-80::after{
    width: 80%;
}
.p-90::after{
    width: 90%;
}
.p-100::after{
    width: 100%;
}

.next-skills{
    grid-column-start: 10;
    grid-column-end: 90;
    grid-row-start: 75;
    grid-row-end: 90;
    display: flex;
    flex-direction: column;
}

.next-skills .title-next-skills{
    font-size: 1.2em;
    font-weight: 900;
    font-family: var(--main-font);
    margin-bottom: 1.5em;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
}

.next-skills .icons{
    width: 100%;
    display: flex;
}

.next-skills .icons .icon-ns{
    width: 40px;
    height: 40px;
    margin-right: 1.2em;
    opacity: 0;
    transform: translateY(20%);
    transition: all .5s ease;
}

.next-skills .icons .icon-ns .svg-logo{
    width: 100%;
    height: 100%;
}