/* fuente  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

/* variables */

:root{
    --main-font: "Poppins" , "san serif";

    --font-main-color: #272727;
    
    --main-color: #F2402B;

    --main-grid-column: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    --main-grid-row: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}